@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

html{
    font-family: 'Red Hat Display', sans-serif;
    
}

body {
     background: #dfe8ff url('/images/pattern-background-mobile.svg') repeat-x;
       
}
@media (min-width: 1024px) {
    body {
        background: #dfe8ff url('/images/pattern-background-desktop.svg') repeat-x;
       
    
    }
}

.card-box{
    border-radius: 25px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    background: #ffffff;
    max-width: 380px;
    height: auto;
    margin: 20px auto;
    text-align: center;
}

.card-box img{
    border-radius: 25px 25px 0 0;
}


.card-text{
    margin: 20px auto;
    width: 80%;;
}

p{  
    color: grey;
    font-size: 16px;
    
}


.card-body{
    border-radius: 15px;
    background: #f8f9fe;
    margin: auto;
    padding: 12px;
    width: 80%;
    display: flex;
    align-items: center;
    
   
}


#btn{
    border: none;
    border-radius: 10px;
    outline: 0;
    display: inline-block;
    padding: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: #766cf1;
    text-align: center;
    cursor: pointer;
    width: 90%;
    
}

 a:link {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
  }
  







